{# http://localhost/cours-symfony-form-2022/public/index.php/personne/add #}
{% extends 'base.html.twig' %}

{% block title %}Hello PersonneController!
{% endblock %}

{% block body %}
	<h1>Formulaire d'ajout</h1>
	{# {{form(formUI)}} #}
	<div class="errors">
		{{form_start(formUI)}}
		{{form_errors(formUI, {'attr':{'class': 'error'}})}}
	</div>
	<div>
		{{form_label(formUI.nom, "Nom de la personne")}}
		{{form_widget(formUI.nom, {'attr': {'required': true, 'class':'nomPersonne'} })}}
	</div>
	<div>
		{{form_rest(formUI)}}
	</div>
	<div>
		{{form_end(formUI)}}
	</div>
{% endblock %}
